{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2022",
    "loose": true,
    "minify": {
      "mangle": true,
      "compress": {
        "defaults": true,
        "arguments": true,
        "passes": 2
      }
    },
    "baseUrl": "./dist",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "test": ".*\\.js$",
  "minify": true
}
